# label-studio

# ipython
# jupyterlab

opencv-python==4.11.0.86
PyQt5==5.15.11

--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.6.0+cu126
torchvision==0.21.0+cu126

ultralytics==8.3.70